.pageWrapper {
  min-height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem 5.5rem;
  width: 100%;
  flex: 1;
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 2rem 1rem;
  }
}
